.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
outputs/*
checkpoints/*.pt
demo/backend/checkpoints/*.pt

# tykim, ignore env from venv
env/

# tykim, ignore results
results/

# tykim, ignore visualization
visualization/

# tykim, ignore evaluation results
evaluation_results/
